.image {
  width: 300px;
  border-radius: 4px;
}

.parentDiv {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: scroll;
  max-height: 80vh;

}

.individualResultDiv {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 2px solid black;
  padding: 8px;
  border-radius: 8px;
  max-width: 98%;
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .image {
    width: 200px;
  }
}

@media screen and (max-width: 500px) {
  .image {
    width: 150px;
  }

  .resultTitle {
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {
  .image {
    width: 100px;
  }

}

@media screen and (max-width: 400px) {
  .image {
    width: 50px;
  }

}